.jumbotron {
  background-color: #292929;
  font-family: "Hack";
  color: white;
}

html {
  font-family: "Hack";
  background-color: #292929;
  color: white;
}

.centerme {
    text-align: center;
}
