.jumbotron {
  background-color: #222222;
  font-family: "Hack";
  color: white;
}

a {
  color: #BBBBBB;
}

a:hover {
  color: #ff33cc;
}

html {
  font-family: "Hack";
  background-color: #222222;
  /* background-image: url(../sheev.jpeg); */
  color: white;
}

#content {
  display: none;
}

.search-bar {
  color: #ffffff;
  background-color: #292929;
  border-color: #555555;
  border-left-color: #555555;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}
/* 
.search-bar:required {
  border-color: salmon;
  border-width: 3px;
} */

.centerme {
    text-align: center;
}

#smh {
  color: #ff50d3;
}

#mh {
  color: #f85d5d;;
}

#ph {
  color: #00ff77;
}

#nh {
  color: #00ddfa;
}